/* index */
#indexPage {
  display: grid;
  grid-template-areas: 'Nieuws1 Nieuws2 Nieuws3 Nieuws4';
  grid-column-gap: 35px;
  margin: 15px 100px;
}
#indexPage img{
  top: 0%;
  height: 25vh;
}
#indexPage a{
  color: #000000;
}

.Nieuws {
  display: flex;
  background-color: #c8c8c8;
  --border-width: 4px;
  height: 65vh;
  border-radius: var(--border-width);
  position: relative;
  -webkit-box-shadow: 0px 0px 6px 7px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 0px 6px 7px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 0px 6px 7px rgba(0, 0, 0, 0.45);
  width: 19vw;
  flex-direction: column;
    justify-content: center;
    
}

.N1 {
  grid-area: Nieuws1;


}

.N2 {
  grid-area: Nieuws2;

}

.N3 {
  grid-area: Nieuws3;

}

.N4 {
  grid-area: Nieuws4;

}

.Nieuws::after {
  position: absolute;
  content: "";
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  z-index: -1;
  width: calc(100% + var(--border-width) * 2);
  height: calc(100% + var(--border-width) * 2);
  background: linear-gradient(60deg,
      hsl(0, 100%, 50%),
      hsl(0, 0%, 100%),
      hsl(0, 100%, 49%),
      hsl(0, 0%, 100%),
      hsl(0, 100%, 49%),
      hsl(0, 0%, 100%),
      hsl(0, 100%, 49%),
      hsl(0, 0%, 100%));
  background-size: 300% 300%;
  background-position: 0 50%;
  border-radius: calc(2 * var(--border-width));
  animation: moveGradient 4s alternate infinite;
}


@keyframes moveGradient {
  50% {
    background-position: 100% 0%;
  }
}

/* Nieuws */
#NieuwsPage {
  display: grid;
  grid-template-areas:
    'nieuwsp1'
    'nieuwsp2'
    'nieuwsp3'
    'nieuwsp4'
    'nieuwsp5'
    'nieuwsp6'
    'nieuwsp7'
    'nieuwsp8';
  margin: 0px 15vw;

}

.nieuwsp {
  display: flex;
  margin: 1vh 0px;
  border: solid 3px black;
  height: 35vh;
  align-items: center;
}
.nieuwsp img{
  height: 35vh;
}
.nieuwsp a{
  color: #000;
  
}

.np1 {
  grid-area: nieuwsp1;
}

.np2 {
  grid-area: nieuwsp2;
}

.np3 {
  grid-area: nieuwsp3;
}

.np4 {
  grid-area: nieuwsp4;
}

.np5 {
  grid-area: nieuwsp5;
}

.np6 {
  grid-area: nieuwsp6;
}

.np7 {
  grid-area: nieuwsp7;
}

.np8 {
  grid-area: nieuwsp8;
}

/* Leden */

#LedenPage {
  display: grid;
  grid-template-areas:
    'Ledenp1 Ledenp2 Ledenp3'
    'Ledenp4 Ledenp5 Ledenp6'
    'Ledenp7 Ledenp8 Ledenp9'
    'Ledenp0 Ledenp10 Ledenp10';
  margin: 0px 15vw;
}

.Ledenp {
  margin: 15px 0px;
  text-align: center;
  background-size: cover;
  border-radius: 30px;
  width: 25%;
  position: relative;
}

.Ledenp div {
  background-size: cover;
  position: absolute;
  top: 125px;
  color: white;
  display: none;
  width: 210px;
  text-shadow: 2px 2px #000;
  left: 1px;
}

.Ledenp:hover div {
  display: flex;
}

.L1 {
  grid-area: Ledenp1;

}

.L2 {
  grid-area: Ledenp2;
}

.L3 {
  grid-area: Ledenp3;
}

.L4 {
  grid-area: Ledenp4;
}

.L5 {
  grid-area: Ledenp5;
}

.L6 {
  grid-area: Ledenp6;
}

.L7 {
  grid-area: Ledenp7;
}

.L8 {
  grid-area: Ledenp8;
}

.L9 {
  grid-area: Ledenp9;
}

.L10 {
  grid-area: Ledenp10;
}

#LedenPage img {

  height: 30vh;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -webkit-transition: all 1s ease;
}

#LedenPage img:hover {
  filter: grayscale(0%);
  filter: gray;
  -webkit-filter: grayscale(0%);
  filter: none;
  transition: 1s ease;
}

/* StandPunten */
#StandPuntenPage {
  grid-area: Onderwerp;
  display: grid;
  grid-template-areas:
    'Leed1 Leed2'
    'Leed3 Leed4'
    'Leed5 Leed6'
    'Leed7 Leed8';
}

.Punten {
  display: flex;
  justify-self: center;
  background-color: darkcyan;
  width: 15vw;
  height: 15vh;
  margin: 15px 0px;


}

.p1 {
  grid-area: Leed1;
}

.p2 {
  grid-area: Leed2;
}

.p3 {
  grid-area: Leed3;
}

.p4 {
  grid-area: Leed4;
}

.p5 {
  grid-area: Leed5;
}

.p6 {
  grid-area: Leed6;
}

.p7 {
  grid-area: Leed7;
}

.p8 {
  grid-area: Leed8;
}


/* Doneer */
#DoneerPage {
  display: grid;
  grid-template-areas:
    'DL DR';
  margin: 0px 42px;
}

.L {
  grid-area: DL;
  background: linear-gradient(to bottom, #ffffff, #be0000);
  box-shadow: -10px 0px 13px -7px #ff0000, 10px 0px 13px -7px #ff0000, -4px 3px 7px 4px rgba(0, 0, 0, 0.44);
  border-radius: 51% 49% 49% 51% / 64% 62% 38% 36%;
}

.R {
  grid-area: DR;
  background: linear-gradient(to top,
      #ffffff,
      #cf0000);
  border-radius: 50% 50% 50% 50% / 25% 25% 75% 75%;
  box-shadow: -10px 0px 13px -7px #ff0000, 10px 0px 13px -7px #ff0000, -4px 3px 7px 4px rgba(0, 0, 0, 0.44);

}

.doneerF {
  display: flex;
  margin: 0px 50px;
  width: 40vw;
  height: 72vh;

  align-items: center;

}


.doneerF input,
select {
  box-shadow: 0px 1px 4px -7px #ffffff, 10px 0px 13px -7px #ffffff, -4px 3px 7px 4px rgb(255 179 179 / 44%);
  display: flex;
  justify-content: center;
  justify-self: center;
  width: 25vw;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 0px 0px 20px 50px;
}

input[type="submit"] {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.L label {
  display: flex;
  justify-content: center;
  font-weight: normal;
}

/* Contact */
#ContactPage {
  display: grid;
  grid-template-areas:
    'FormL FormR';
}

.Form {
  display: flex;
  align-items: center;
  justify-self: center;
  width: 30vw;
  height: 68vh;
  margin: 10px 0px;
  border: solid 3px black;
}

.FR {
  grid-area: FormR;
  margin-right: 250px;
}

.FL {
  grid-area: FormL;
  margin-left: 250px;
}

form {
  width: 500px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 35px;
}

label {
  font-weight: bold;
}

input,
textarea {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {

  color: #fff;
  cursor: pointer;
}

#vraag {
  height: 55vh;
  width: 28vw;
}