#Logo{
    size: 100%;
    border-radius: 50%;
}
footer{
    width: 100vw;
    height: 8vh;
    background-color: rgb(245, 13, 13);
    border-radius: 22px;
    position: fixed;
    bottom: 5px;
    color: beige;
    margin: 0px 0px 0px -8px;
    text-align: center;
}

.footerText{
    display: inline-block;
    font-size: 1.5vw;
   
}
.date{
    float: right;
    margin-right: 5px;
    font-size: 1.5vw;
}