*{
  font-family:fantasy;
}
/* Body */
body {
  background-color: #d8d8d8;
  display: grid;
  grid-template-areas: 
  'Header'
  'Onderwerp'
  'Footer'
  ;
  /* grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 2fr 5fr 1fr; */
}

/* Header styles */
Header{
  display: grid;
  grid-area: Header;
  grid-template-areas: 'Logo Menu wave';
}
#Logo {
  grid-area: Logo;
  border-radius: 0%;
  height: 16vh;
  width: 14vw;
  background-color: #d8d8d8;
  background-image: url("Images/SP.png");
  background-size: cover;
}
a {
  text-decoration: none;
}
.Menu{
  display: flex;
  grid-area: Menu;
  align-items: center;
  
}
.btn {
  border: none;
  background-color: #d8d8d8;
  color: #000000;
  border-radius: 25%;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
 
  transition: 0.5s;
}

.btn:hover {
  background: #ff0000;
  color: #000000;
  box-shadow: inset 0px 0px 20px 5px #f40303, 0 0 25px #f40303, 0 0 50px rgb(255, 0, 0), 0 0 200px #ff0000;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.btn:hover {
  background: #ff0000;
}

.News {
  color: rgb(255, 0, 0)
}

.Leden {
  color: rgb(255, 0, 0)
}

.StandPunten {
  color: rgb(255, 0, 0)
}

.Contact {
  color: rgb(255, 0, 0);
}



/* Doneer */
.Doneer {
  grid-area: wave;
  display: flex;
  align-self: center;
  justify-self: center;
  align-items: center;
  text-align: center;
  border-radius: 100%;
  height: 7vh;
  width: 8vw;
  padding: 20px 30px;
  position: relative;
  text-decoration: none;
  overflow: hidden;
  background-color: #d8d8d8;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
}

.Doneer:hover .wave {
  top: -120px;
}

.Doneer span {
  position: relative;
  z-index: 1;
  color: rgb(0, 0, 0);
  font-size: 23px;
  letter-spacing: 7px;
  text-transform: uppercase;
  animation: zoomup 3s linear infinite;
  
}

.Doneer .wave {
 
  width: 25vw;
  height: 200px;
  background-color: #d8d8d8;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: -80px;
  transition: 0.4s;
}

.Doneer .wave::before,
.Doneer .wave::after {
  width: 39vw;
  height: 36vh;
  content: "";
  position: absolute;

  left: 15%;
  transform: translate(-50%, -75%);
}

.Doneer .wave::before {
  border-radius: 45%;
  background-color: #ffffffab;
  animation: wave 8s linear infinite;
  top: -15%;
}

.Doneer .wave::after {
  border-radius: 40%;
  background-color: rgb(255, 0, 0);
  animation: wave 8s linear infinite;
  top: 375px;
}

@keyframes wave {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}
@keyframes zoomup {
  0%,
  100% {
    color: #000000;
    filter: blur(1px);
    text-shadow: 0 0 10px #d70000, 0 0 20px #d70000, 0 0 30px #d70000,
      0 0 40px #d70000, 0 0 60px #d70000, 0 0 80px #d70000, 0 0 100px #d70000,
      0 0 120px #d70000;
  }
  5%,
  95% {
    filter: blur(0);
    color: #000000;
    text-shadow: none;
  }
}

.Onderwerp{
  grid-area: Onderwerp;
  height: 40vh;
}






/* Footer */
footer {
  grid-area: Footer;
  width: 100vw;
  height: 8vh;
  background-color: rgb(245, 13, 13);
  border-radius: 22px;
  
  
  color: rgb(0, 0, 0);
  margin: 0px 0px 0px -8px;
  text-align: center;
}

.footerText {
  display: inline-block;
  font-size: 1.5vw;

}

.date {
  float: right;
  margin-right: 20px;
  font-size: 1.5vw;
}