/* Contact */
#ContactPage{
    display: grid;
    grid-template-areas: 
    'FormL FormR';
}
.Form {
    display: flex;
  align-items: center;
  justify-self: center;
  background-color: gold;
  width: 30vw;
  height: 68vh;
  margin: 10px 0px;
  
}
.FR {
    grid-area: FormR;
    margin-right: 250px;
}
.FL {
    grid-area: FormL;
    margin-left: 250px;
}

  form {
    width: 500px;
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 35px;
  }
  
  label {
    font-weight: bold;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="submit"] {
     
    color: #fff;
    cursor: pointer;
  }
  